.game__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "selection"
        "progress"
        "album"
}

@media (min-width: 576px) {
    .game__container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "selection progress"
            "album album"
    }
}

@media (min-width: 992px) {
    .game__container {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header header header"
            "selection progress"
            "album album album"
    }
}

.game__header {
    grid-area: header;
}

.grid__actions {
    grid-area: selection;
}

.game__progress__panel {
    grid-area: progress;

    padding: 2rem;

    display: grid;
    gap: 2rem;
}

.progress__container h3 {
    margin: 0;
}



/* ALBUM */

.game__album__panel {
    // @extend .pixel-box--warning;
    grid-area: album;
    padding: 1em;
    gap: 1em;
    display: flex;
}