.box{
    display: grid;
    gap: 1rem;
}

.dashboard__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "actions"
        "progress"
        "album"
}

@media (min-width: 720px) {
    .dashboard__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "actions progress"
            "album album"
    }
}

@media (min-width: 992px) {
    .dashboard__grid {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header header header"
            "actions progress"
            "album album album"
    }
}

.dashboard__header {
    grid-area: header;
}


.game__progress__panel {
    grid-area: progress;
    padding: 2rem;
    display: grid;
    gap: 2rem;
}



/* ALBUM */

.game__album__panel {
    // @extend .pixel-box--warning;
    grid-area: album;
    padding: 1em;
    gap: 1em;
    display: flex;
}