.dashboard__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "actions"
        "progress"
        "album"
}

@media (min-width: 720px) {
    .dashboard__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "actions progress"
            "album album"
    }
}

@media (min-width: 992px) {
    .dashboard__grid {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header header header"
            "actions progress"
            "album album album"
    }
}

.dashboard__header {
    grid-area: header;
}

.dashboard__actions {
    grid-area: actions;

    display: grid;
    grid-template-columns: 1fr;
    align-content: space-evenly;
    align-items: center;
    gap: 1em;
    margin: 1em;
    grid-template-areas:
        "prompt"
        "btn0"
        "btn1"
        "btn2"
        "btn3"
}

@media (min-width: 1200px) {
    .dashboard__actions {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        margin: 2em;
        grid-template-areas:
            ". btn0 ."
            "btn1 prompt btn2"
            ". btn3 ."
    }
}


.dashboard__actions--prompt {
    grid-area: prompt;
    text-align: center;
}

.dashboard__actions--btn0 {
    grid-area: btn0;
    @include action--btn;
}

.dashboard__actions--btn1 {
    grid-area: btn1;
    @include action--btn;
}

.dashboard__actions--btn2 {
    grid-area: btn2;
    @include action--btn;
}

.dashboard__actions--btn3 {
    grid-area: btn3;
    @include action--btn;
}


.game__progress__panel {
    grid-area: progress;
    padding: 2rem;
    display: grid;
    gap: 2rem;
}



/* ALBUM */

.game__album__panel {
    // @extend .pixel-box--warning;
    grid-area: album;
    padding: 1em;
    gap: 1em;
    display: flex;
}