.container {
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0 auto;
    max-width: 1800px;
}

img {
    max-width: 100%;
}

.btn_container {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_reincarnation--btn{
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
}

.container_reincarnation {
    padding: 2em 5em 2em 5em;
}



