@mixin btn {
    @include font;
    color: $color-light;
}

.btn--primary{
    @include btn;
    @extend h3;

    @extend .pixel-box--primary; 
    padding: 0.5em 1.5em;
    margin: 0;
}

.btn--primary:disabled{
    @extend .pixel-box--light;   
    color: darken($color-light, 30); 
}

.btn--secondary{
    @include btn;
    @extend h5;

    @extend .pixel-box--secondary;
    padding: 0.3em 1em;
}

.btn--modal{
    @include btn;
    @extend h5;
    
    @extend .pixel-box--success;
    padding: 0.3em 1em;
}


.btn--action{
    @extend .pixel-box--primary;
    @extend h5;
    font-weight: 500;
    color: white;
    padding: 0 2em;
}

.btn--nav{
    @include font;
    @extend .pixel-box--primary;
    padding: 0 1em;
    text-align: center; 
    color: white;
}

@mixin action--btn {
    @extend .pixel-box--primary;
    @extend h5;
    padding: 0.5em 1.5em;
    color: white;
}