@mixin overlay{
    width: 100vw;
    height: 95vh;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay-dark {
    @include overlay;
    background: rgba(0, 0, 0, 0.75);
}

.modal {
    @include overlay;
    display: grid;
    place-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


.modal-content {
    @extend .pixel-box--light;
    margin: 5%;
    position: absolute;
    padding: 3em;
    
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}