nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 5rem 1rem 5rem;
    background: rgb(18, 18, 18);
}

nav a {
    text-decoration: none;
    color: pink;
}
