.playercard {
    @extend .pixel-box--secondary;
    height: 100%;
    padding: 1em;

}



.playercard-holder input[type="radio"]:checked ~ .playercard {
    @extend .pixel-box--success
}



.players_container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}