.progressbar-outline{
    @extend .pixel-box--light;
    
}

@mixin progressbar-fill{
    background-color: $color-secondary;
    @extend h5;
    padding: 0.1rem 0.4rem;
    text-align: right;
    transition: all .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}


.progressbar-fill{
    @include progressbar-fill;

    &--alert {
        @include progressbar-fill;
        background-color: $color-danger;
        -webkit-animation: flicker-1 2s infinite both;
            animation: flicker-1 2s infinite both
    }

    &--success {
        @include progressbar-fill;
        background-color: $color-wellbeing;
        animation: pulse 3s infinite;
    }
}
