.progress-bar{
    @extend .pixel-box--light;
    
}

.progress-label{
    padding-bottom: 0;
}

.progress-fill{
    background-color: $color-secondary;
    @include font;

    &--alert {
        background-color: $color-danger;
        -webkit-animation: flicker-1 2s infinite both;
            animation: flicker-1 2s infinite both
    }

    &--success {
        background-color: $color-success;
        
    }
}
