.visually-hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.space {
    padding-top: 3rem;
}

.big {
    font-size: 2rem;
}

.white {
    color: $color-light;
}