// Colors
$color-primary: #6e83eb;
$color-secondary: #ffe5b9;
$color-success: #ffaf4d;
$color-info: #17a2b8;
$color-warning: #40b86e;
$color-danger: #b84074;
$color-light: #f8f9fa;
$color-dark: #343a40;

// Typography
$font-family-base: 'DotGothic16', sans-serif;
$font-size-base: 1rem; // 16px
$font-size-sm: 0.875rem; // 14px
$font-size-lg: 1.25rem; // 20px
$font-weight-normal: 400;
$font-weight-bold: 700;