// Colors
$color-primary: #6e83eb;
$color-secondary: #ffaf4d;
$color-success: #ffaf4d;
$color-info: #6d7184;
$color-warning: #40b86e;
$color-danger: #b84074;
$color-wellbeing: rgb(72, 142, 72);
$color-light: #f8f9fa;
$color-dark: #343a40;

