.game-bg {
    background-image: url(../../assets/images/city2.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
}

.game-bg-texture {
    background-color: #5d5b78;
    background-image: url("https://www.transparenttextures.com/patterns/binding-light.png");
    background-position: center;
    min-height: 100vh;
}

$game-panels: actions, progress, will, manifest, wellbeing, album;

.grid-game {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 10rem;
    max-width: 1300px;
    grid-template-areas:
        "actions actions progress"
        "will manifest wellbeing"
        "album album album";
}

@each $game-panel in $game-panels {
    .game-container-#{$game-panel} {
        @extend .box-shadow;
        grid-area: #{$game-panel};
        background-color: $color-light;
        padding: 2rem;
        border-radius: 0.35rem;
        border: $color-dark 0.05rem solid;
        h3{margin-top:0};        
    }
}


.game-avatar {
    max-height: 12rem;
    cursor: pointer;
}

.game-avatar:hover {
    -webkit-animation: wobble-ver-left 0.8s both;
    animation: wobble-ver-left 0.8s both;
}


.game-counter {
    @extend .pixel-box--info-custom;
    @extend .box-shadow;
    @include font-special;
    padding: .5rem 1rem;
}

.game-progress-value {
    text-align: left;
    vertical-align: super;
    @include font-size($font-size-xs);

    &.positive {
        color: green;
        &::before {
            content: "+";
        }
    }

    &.negative {
        color: $color-danger;
    }
}


.game-manifests {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.game-willchain {
    display: flex;
    justify-content: space-evenly;
}