.home--bg {
    background-image: url(../../assets/images/inkpendude-portal-storm.gif);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    place-items: center;
}

.home--intro {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home--intro h1 {
    color: white;
}