.start-bg {
    background-image: url(../../assets/images/inkpendude-portal-storm.gif);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.start-grid {
    @extend .start-bg;
    display: grid;
    place-items: center;
}


.start-flex {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.start-flex h1 {
    color: white;
}


