.home {
    display: grid;
    place-items: center;
    background-image: url("../images/home.gif");
    background-color: red;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}