.introbox-avatar {
    @include box($color-secondary, $color-light);
    @include storybox-layout;
}

.introbox-text {
    @include box($color-light, darken($color-secondary, 5%));
    font-family: $font-special;
    font-size: clamp($font-xs, $font-s + 0.2vw, $font-base);

    padding-inline: clamp($space-s, 2.5vw, $space-l);
    padding-block: clamp($space-xs, 1vw, $space);

    letter-spacing: 0.05rem;
    min-height: 6rem;
}

.introbox-text-gif {
    @extend .introbox-text;
    width: fit-content;
    margin: 0 auto;
    animation: float 2s ease-in-out infinite;
    padding: 0;
    height: 80vh;

    // height: 20rem;

    img {
        height: 100%;
        object-fit: cover;
    }
}