.bg-black {
    background-color: black;
    height: 100vh;
}

.bg-image {
    @include grid-end;
    height: 100vh;
    width: 100vw;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.bg-radial {
    @include grid-end;
    background-image: radial-gradient(circle at center,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1), 40%,

            rgb(39, 10, 42) 45%,
            rgb(0, 0, 0) 55%,

            rgb(15, 10, 47) 60%,
            rgb(0, 0, 0) 70%,

            rgb(48, 9, 26) 75%,
            rgb(0, 0, 0) 85%,

            rgb(15, 32, 49) 90%,
            rgba(18, 61, 73, 0.5) 100%);
    height: 100vh;
    width: 100vw;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.storybox-grid {
    @include storytext-grid;
    align-items: end;

    height: 90%;
    width: 100%;
}


.storybox-avatar {
    @include box($color-secondary, $color-light);
    @include storybox-layout;
}

.storybox-text {
    @include box($color-light, darken($color-secondary, 5%));
    font-family: $font-special;
    font-size: clamp($font-xs, $font-s + 0.3vw, $font-l);
    padding-inline: clamp($space-s, 2.5vw, $space-l);
    padding-block: clamp($space-xs, 1vw, $space);

    letter-spacing: 0.05rem;
    min-height: 6rem;
}