.bg-black {
    background-color: black;
    height: 100vh;
}

.bg-image {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 767px) {
    .bg-image {
        background-size: 75%;
    }
}

@media (min-width: 1800px) {
    .bg-image {
        background-size: 30%;
    }
}

.bg-radial {
    background-image: radial-gradient(circle at center,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1), 40%,

            rgb(39, 10, 42) 45%,
            rgb(0, 0, 0) 55%,

            rgb(15, 10, 47) 60%,
            rgb(0, 0, 0) 70%,

            rgb(48, 9, 26) 75%,
            rgb(0, 0, 0) 85%,

            rgb(15, 32, 49) 90%,
            rgba(18, 61, 73, 0.5) 100%);
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.storybox-grid {
    height: 90%;
    display: grid;
    grid-template-columns: 10% 1fr 20%;
    gap: $space;
    align-items: end;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.storybox-avatar {
    @include box($color-secondary, $color-light);
    text-align: center;
    padding: $space-s;
    height: 6rem;
}

.storybox-text {
    @include box($color-light, darken($color-secondary, 5%));
    @include font-size($font-s);
    padding-inline: $space;
    padding-block: $space;
    font-family: $font-special;
    letter-spacing: 0.05rem;
    min-height: 6rem;
}

.storybox-text-gif {
    @extend .storybox-text;
    padding: 0;

    // height: 20rem;

    img {
        // height: clamp(6rem, 20vh, 20rem);
    }
}