// import fonts
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
@import "../../node_modules/rfs/scss";



p {
    font-family: $font-regular;
}

h1 {
    @include heading;
    @include font-size($font-xl);
}

h2 {
    @include heading;
    @include font-size($font-l);
}

h3 {
    @include heading;
    @include font-size($font-xs);
}

.highlight {
    color: darken($color-secondary, 10%);
    text-transform: uppercase;
    font-weight: $font-weight-bold;
}