
.game__progress__panel{
    background-color: lightblue;
}




/************************* PROGRESSBAR.JSX *************************/
.progress__container{
    /* width: '100%'; */
}

/* .progress__bar is inside ProgressBar.jsx in order to easily manipulate length of progressbar accordding to percentage */

.progress__title{
    color: blue;
}

.progress__label {
    color: white;
}