.game__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "selection"
        "progress"
        "album"
}

@media (min-width: 576px) {
    .game__container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "selection progress"
            "album album"
    }
}

@media (min-width: 992px) {
    .game__container {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header header header"
            "selection progress"
            "album album album"
    }
}

.game__header {
    grid-area: header;
}


/* SELECTION */

.game__selection__panel {
    background-color: pink;
    grid-area: selection;

    display: grid;
    gap: 1rem;
    padding: 2rem;
}


/* PROGRESS */

.game__progress__panel {
    background-color: lightblue;
    grid-area: progress;

    padding: 2rem;

    display: grid;
    gap: 2rem;
}

.progress__container h3{
    margin: 0;
}

.progress__label {
    color: blue;
}

.progress__value {
    color: white;
}


/* ALBUM */

.game__album__panel {
    border: green 2px solid;
    grid-area: album;
    padding: 1em;
    gap: 1em;
    display: flex;
}


/* Player Selection */
.players_container{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.playercard{
    border: black 2px solid;
}