//imports go here

@import "variables";
@import "mixins";
@import "typography";
@import "animations";



@import "grid";
@import "helpers";

@import "buttons";
@import "progressbars";

@import "home";
@import "story";


@import "game";
@import "aiphoto";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    cursor: default;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}