.photobooth__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "polaroid"
        "summary"
}


@media (min-width: 576px) {
    .photobooth__container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "polaroid summary"
    }
}

@media (min-width: 992px) {
    .photobooth__container {
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
            "header header header"
            "polaroid polaroid summary"
            "polaroid polaroid summary"
    }
}

.photobooth__header{
    grid-area: header;
}

.photobooth__polaroid{
    grid-area: polaroid;
}

.photobooth__summary {
    grid-area: summary;
}