.photo-container {
    display: flex;
    align-items: end;
    @include padding-bottom($space-l);
    @include padding-left($space-l);
    @include padding-right($space-l);
}

.container-rewards {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}