// import fonts
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap');
@import "../../../node_modules/rfs/scss";

// Typography
$font-family-base: 'DotGothic16', sans-serif;

$font-size-xs: 0.65rem;
$font-size-s: 0.85rem;
$font-size-base: 1rem; // 16px
$font-size-m: 1.25rem; // 20px
$font-size-l: 2.5rem;
$font-size-xl: 4rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

// Set base font settings
@mixin font-special {
    font-family: 'DotGothic16', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@mixin font-text {
    font-family: 'Inconsolata', monospace;
}

@mixin font {
    font-family: 'Inconsolata', monospace;
}

// Set paragraph styles
p {
    @include font-text;
    @include font-size($font-size-base);
}

h1 {
    @include font-special;
    @include font-size($font-size-xl);
}

h2 {
    @include font-special;
    @include font-size($font-size-l);
}

h3 {
    @include font-special;
    @include font-size($font-size-m);
}

h4 {
    @include font-special;
    @include font-size($font-size-base);
}

h5 {
    @include font-special;
    @include font-size($font-size-s);
    margin-bottom: 0;
}

h6 {
    color: red; 
}



.prompt {
    @include font;
    font-size: smaller;
    color: red;
    text-align: center;
    padding: 1em;
    margin-bottom: 0.5em;
}

.warning {
    @include font;
    font-weight: bolder;
    color: red;
}


// Style links
a {
    @include font-special;
    text-decoration: none;

    &:hover,
    &:focus {
        font-weight: bold;
    }
}